//燈箱搭配背景遮罩

/* 
========使用說明=======
html參考架構
<div class="example-modal"> → 燈箱父容器
    <div class="modal-mask"></div> → 遮罩
    <div class="main-modal"></div> → 實際燈箱內容本體 
</div>
*/

.example-modal {
    position: fixed;
    inset: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    transition:
        opacity 0.25s ease,
        visibility 0.25s ease;
}

.modal-mask {
    position: absolute;
    inset: 0;
    background-color: rgba(20, 28, 38, 0.58);
}