@use '../_var' as *;

#market {
   font-size: 16px;

   background-color: map-get($color , tertiary);
   color: map-get($color , secondary);

   section {
      width: 100%;
      padding-block: 20px;
   }
}



// 交換區 hero
.market-hero {
   background-image: url(/market-banner.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: right 50% top;
   height: 80vh;
   width: 100%;
   position: relative;

   &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(map-get($color , secondary), $alpha: .7);
   }


   .hero-info {
      position: absolute;
      bottom: 15%;
      display: flex;
      flex-direction: column;
      z-index: 1;
      gap: 1rem;
      padding-inline: 1rem;

      h1 {
         color: map-get($color, secondary2);
         font-size: map-get($fontSize, h3);
         font-weight: 900;
      }

      p {
         color: map-get($color, white);
         font-weight: 600;
         line-height: 1.5;
      }

      .btnFill {
         display: inline-block;
         width: fit-content;
         font-size: map-get($fontSize , hint);
      }

      .btn-guide {
         display: none;
      }

      .btn-exchaunge {
         display: block;
      }
   }
}

// == 篩選列 ================================
.filter-container {
   display: flex;
   gap: 16px;

   form {
      display: flex;
      gap: 20px;
      padding-inline: 20px;
      width: 100%;
      flex-direction: column;

      .filter {
         display: flex;
         gap: 40px;

         label {
            display: none;
         }

         select {
            text-align: center;
            cursor: pointer;
            border: 1px solid map-get($color , hint);
            border-radius: 10px;
            outline: none;
            background-color: #FFFFFF;
            line-height: 1.5;
            color: #141C26;
            font-size: 15px;
            width: auto;
            padding: 8px 12px;
         }
      }
   }
}

#marketFilter {
   padding-top: 12px;
   font-weight: bold;
}

.sort {
   display: none;
}

.icon-sort {
   display: flex;
   gap: 12px;

   button {
      font-size: 15px;
      font-weight: 500;
      color: map-get($color, hint);
      display: flex;
      gap: 4px;
      align-items: center;
      padding: 4px;
   }

   .btn-reset {
      color: map-get($color, hint);
      padding: 0;
      font-size: 14px;
   }

   .-select {
      color: map-get($color, neutral);
   }
}



// 分頁器
#paginationApp {
   display: none;
}

.btnNeutral {
   display: block;
   margin: 12px auto;
}

// 平板
@media screen and (width >=768px) {
   #market {
      font-size: map-get($fontSize , default);

      section {
         padding: 20px 40px;
      }
   }



   // 交換區 hero
   .market-hero {
      background-size: 80% auto;
      background-position: right 20%;

      &::after {
         height: 100%;
         background: linear-gradient(to right, map-get($color, secondary) 35%, transparent);
      }

      .hero-info {
         bottom: 10%;
         padding-inline: 1.5rem;

         h1 {
            font-size: map-get($fontSize, h1);
         }

         >p {
            font-size: 16px;
         }

         .btnFill {
            font-size: map-get($fontSize , default);
         }

         .btn-guide {
            display: block;
         }

         .btn-exchaunge {
            display: none;
         }
      }
   }

   // == 篩選列 ============================================
   .filter-container {
      padding: 32px;
      margin: 12px auto 32px;
      border: 1px solid rgba(254, 201, 107, 0.55);
      border-radius: 20px;
      background: linear-gradient(90deg, #FFFDF9 0%, #FFF5DE 100%);
      box-shadow: 0 8px 12px rgba(20, 28, 38, 0.1);
      display: flex;
      flex-direction: column;
      width: 80%;


      form {
         .filter {
            justify-content: start;
            gap: 60px;

            select {
               border: 1px solid #DDD6C8;
            }
         }

         .sort {
            display: inline-flex;
            align-items: center;
            gap: 32px;

            span {
               display: none;
               margin-right: -16px;
            }


            button:last-of-type {
               margin-left: auto;
            }

            .btn-reset {
               color: map-get($color, neutral );
               padding: 0;
               font-size: 14px;
            }

            .-select {
               background-color:  map-get($color, primary );
               color: #141C26;
               border-color:  map-get($color, primary );
            }
         }


      }

      .icon-sort {
         display: none;
      }
   }
}

// 電腦
@media screen and (width >=992px) {

   // == 篩選列 ============================================
   .filter-container {
      form {
         .filter {
            justify-content: start;
            gap: 16px;

            label {
               display: inline-flex;
               align-items: center;
            }

            select {
               border: 1px solid #DDD6C8;
            }
         }

         .sort {
            span {
               display: inline-block;
               margin-right: -16px;
            }

            .btn-reset {
               cursor: pointer;
            }

            button:last-of-type {
               margin-left: auto;
            }
         }
      }
   }

   #paginationApp {
      display: block;
      width: fit-content;
      margin: auto;
      padding-top: 20px;
   }

   #moreBtn {
      display: none;
   }
}