@use '../_var' as *;

body {
   font-size: map-get($fontSize , hint);
   letter-spacing: 2px;
   background-color: var(--tertiary);
}

section {
   width: 100%;
   padding-block: 20px;
}



// 交換區 hero
.market-hero {
   background-image: url(../../../../market-banner.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: right 50% top;
   height: 80vh;
   width: 100%;
   position: relative;

   &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(map-get($color , secondary), $alpha: .7);
   }


   .hero-info {
      position: absolute;
      bottom: 15%;
      display: flex;
      flex-direction: column;
      z-index: 1;
      gap: 1rem;
      padding-inline: 1rem;

      h1 {
         color: map-get($color, secondary2);
         font-size: map-get($fontSize, h3);
         font-weight: 900;
      }

      p {
         color: map-get($color, white);
         // font-size: map-get($fontSize, hint);
         font-weight: 600;
         line-height: 1.5;
      }

      .btnFill {
         display: inline-block;
         width: fit-content;
         font-size: map-get($fontSize , hint);
      }

      .btn-guide {
         display: none;
      }

      .btn-exchaunge {
         display: block;
      }
   }
}

// 篩選列
.filter-container {
   display: flex;
   gap: 16px;
   justify-content: center;

   form {
      display: flex;
      gap: 20px;

      label {
         display: none;
      }

      select {
         // appearance: none;
         text-align: center;
         cursor: pointer;

         border: 1px solid map-get($color , hint);
         border-radius: 10px;
         outline: none;

         background-color: #FFFFFF;

         font-size: 16px;
         line-height: 1.5;
         color: #141C26;

         width: auto;
         padding: 8px 12px;
      }
   }
}

#marketFilter {
   padding-top: 12px;
   font-weight: bold;
}

.sort {
   display: none;
}

.icon-sort {
   color: map-get($color , secondary);
   display: flex;
   flex-direction: column;
   justify-content: center;

   .fa-sort-up,
   .fa-sort-down {
      display: flex;
      // height: fit-content;

      cursor: pointer;
      color: map-get($color , hint);
   }

   .fa-sort-down {
      margin-top: -4px;
   }
}

// == 交換案例卡 =============================================
#marketCardInfo {
   .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      padding-inline: 16px;

      .wrapper {
         align-items: center;
         gap: 8px;

         img {
            width: 36px;
         }

         p {
            height: fit-content;
         }
      }

      .card {
         width: 100%;
         background-color: white;
         padding: 12px;
         border: 1px solid var(--tertiary);
         border-radius: 10px;
         box-shadow: 0 4px 10px rgba(20, 28, 38, 0.06);
         height: fit-content;

         .pic {
            border-radius: 10px;
            overflow: hidden;

            img {
               display: block;
               width: 100%;
               aspect-ratio: 16 / 9;
               object-fit: cover;
            }
         }

         .card-info {
            padding-top: 16px;
            display: flex;
            flex-direction: column;
            gap: 12px;

            h4 {
               font-weight: 600;
               font-size: map-get($fontSize , default);
            }

            p {
               font-size: map-get($fontSize , hini);
               line-height: 18px;
            }

            span {
               margin-left: 4px;
            }

            .date {
               display: none;
            }
         }

         .card-footer {
            display: flex;
            padding-top: 12px;
            font-size: map-get($fontSize , hint);
            // gap: 12px;
            align-items: center;
            justify-content: space-between;

            .state {
               background-color: var(--lightGreen);
               padding: 4px 8px;
               border-radius: 4px;
               color: var(--olive);
               font-weight: 550;
            }

            .btnNoFill {
               display: none;
            }
         }
      }
   }
}

// 分頁器
#paginationApp {
   display: none;
}

.btnNeutral{
   display: block;
   margin: 12px auto;
}

// 平板
@media screen and (width >=768px) {
   body {
      font-size: map-get($fontSize , default);
   }

   section {
      padding: 20px 40px;
   }

   // 交換區 hero
   .market-hero {
      background-size: 80% auto;
      background-position: right 20%;

      &::after {
         height: 100%;
         background: linear-gradient(to right, map-get($color, secondary) 35%, transparent);
      }

      .hero-info {
         bottom: 10%;
         padding-inline: 1.5rem;

         h1 {
            font-size: map-get($fontSize, h1);
         }

         .btnFill {
            font-size: map-get($fontSize , default);
         }

         .btn-guide {
            display: block;
         }

         .btn-exchaunge {
            display: none;
         }
      }
   }

   // == 篩選列 ===============================================
   .filter-container {
      padding: 32px;
      margin: 12px auto 32px;
      border: 1px solid rgba(254, 201, 107, 0.55);
      border-radius: 20px;
      background: linear-gradient(90deg, #FFFDF9 0%, #FFF5DE 100%);
      box-shadow: 0 8px 12px rgba(20, 28, 38, 0.1);
      display: flex;
      flex-direction: column;
      width: 80%;


      form {
         gap: 16px;

         label {
            display: inline-flex;
            align-items: center;
         }

         select {
            border: 1px solid #DDD6C8;
         }
      }

      .sort {
         display: inline-flex;
         align-items: center;
         gap: 32px;

         span {
            display: inline-block;
            margin-right: -16px;

         }

         button:last-of-type {
            margin-left: auto;
         }
      }

      .icon-sort {
         display: none;
      }
   }

   // == 交換卡 ===============================================
   #marketCardInfo {
      .container {
         grid-template-columns: repeat(3, 1fr);
         gap: 20px;
      }
   }
}

// 電腦
@media screen and (width >=1024px) {
   #marketCardInfo {
      .container {
         grid-template-columns: repeat(4, 1fr);
         gap: 20px;

         .card {
            cursor: pointer;
            transition: transform .5s ease, border .25s ease;

            &:hover {
               border: 1px solid var(--primary);
               transform: translateY(-4px);
               box-shadow: 0 10px 20px rgba(20, 28, 38, 0.1);
            }

            .card-info {
               font-size: 16px;
               gap: 16px;

               .wrapper {
                  display: flex;

                  .date {
                     display: block;
                  }
               }
            }

            .card-footer {
               align-items: center;

               .btnNoFill {
                  display: block;
                  margin-left: auto;
                  padding: 12px 16px;
               }
            }
         }
      }
   }

   #paginationApp {
      display: block;
      width: fit-content;
      margin: auto;
      padding-top: 20px;
   }

   #moreBtn{
      display: none;
   }
}