@use "sass:map";
@use "../var" as *;

.page-signIn {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 88px;
  background-color: map.get($color, white);

  #signInApp {
    flex: 1;
    display: flex;
  }
}
